.body{
    font-family: 'Roboto', sans-serif;
}

.cuerpo{
    float: right;
   width:77.5%;
    height: 300px;
    background: #F7F7FF;
    border-radius: 20px;
}
.cuerpo .contenido{
    width: 50%;
    height: 40%;
    position:absolute;
    left: 25%;
    
    
    }
    .cuerpo .contenido .nombreau{
        color:#757575 ;
        font-family: 'Roboto', sans-serif;
        font-weight: bolder;
        font-size: 60px;
        
    }
    .cuerpo .contenido .info{
        color:#757575 ;
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
    }

    .experiencia {
        float: right;
        width:74.3%;
   
       
        height: auto;
        background: #F7F7FF;
        margin: 5px auto ; 
        padding: 20px ; 
        border-radius: 20px;

    }
    .experiencia .tituloseccion {
        color: #757575;
        font-family: 'Roboto', sans-serif;
        font-size: xx-large;
        text-align: center;
        font-weight: bolder;
        border-bottom: 1.5px #757575 dashed;
    }

    .experiencia .tituloinfo{
        color: #757575;
        font-family: 'Roboto', sans-serif;
        font-weight: bolder;
        font-size: large;
        display: inline ;
        margin-right: 20px;

    }
    .experiencia .infoinfo{
        color: #392f5a;
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
        font-size: large;
        display: inline ;
    }
/*Barra izquierda*/
/*foto */
.contenedor{
    background-color: #fff8f6;
    font: 15px 'Roboto',  san-serif;
    box-shadow: 1px 1px 3px rgb(0 0 0 /10%);
    z-index: 101;
    width: 284px;
    font-weight: 700;
    overflow: auto;
    border-radius: 20px;

}

.fotoperfil{
    border-radius: 50%;
    float: none;
   
}
img{
    max-width: 100%;
    border: 0;
    
}
.contenedorarriba{
    text-align: center;
    
}
/*Nombre
.nombres{
    color: #212121;
   
    margin-bottom: 1em;
    opacity: .87;
    overflow: hidden;
    text-transform: uppercase;
    font-weight: 700;
    
}
*/

.titulo {
   
    margin: 0 16px;
    margin-top: 10px;
    margin-right: 16px;
    margin-bottom: 5px;
    margin-left: 16px;
}

.call{
    margin: 0 16px;
    margin-top: 10px;
    margin-right: 16px;
    margin-bottom: 5px;
    margin-left: 16px;  
}
.textosobreal{
color: #757575;
margin: 0 16px;
    margin-top: 0px;
    margin-right: 16px;
    margin-bottom: 0px;
    margin-left: 16px;
    border-bottom: 1.5px #757575 dashed;
}
 



